input {
	font-size: 1.2em;
	font-family: inherit;
	background: transparent;
	border: none;
	outline: none;
	color: var(--dark-color)
}

input::placeholder {
	color: rgba(0, 0, 0, 0.5);
}

input[type="number"] {
    padding: 0.2em;
	box-shadow: 0 2px 0 0 rgba(0, 0, 0, 0.2);
	width: 4.5em;
}

input[type="number"]:focus {
	box-shadow: 0 5px 0 0 rgba(0, 0, 0, 0.1);
}

input[type="text"] {
	width: 100%;
    padding: 1em;
    color: var(--dark-color);
}

input[type="text"]:focus {
	box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.1);	
}

label {
	font-size: 1.1em;
	margin-right: 0.5em;
	text-align: right;
}

.text-input label {
	visibility: hidden;
	position: absolute;
}

.number-input {
	padding: 3em;
}