input {
	font-size: 1.2em;
	font-family: 'Ubuntu';
	background: transparent;
	border: none;
	outline: none;
	box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.2);
	color: #f1f1f1;
}

input:focus {
	box-shadow: 0 2px 0 0 rgba(255, 255, 255, 0.5);
}

input::placeholder {
	color: rgba(255, 255, 255, 0.5);
}

input[type="number"] {
	width: 4em;
}

label {
	font-family: 'Alfa Slab One', cursive;
	font-size: 1.1em;
	margin-right: 0.5em;
	text-align: right;
}

.text-input label {
	visibility: hidden;
	position: absolute;
}

.number-input {
	padding: 0.5em;
}