.pbutton {
	background: transparent;
    border: none;
    outline: none;
    font-size: 1.1em;
    padding: 0.4em;
    color: var(--dark-color);
    display: flex;
    justify-content: space-between;
    align-self: center;
    width: 100%;
    cursor: pointer;
}

.pbutton:hover {
    background-color: #c4c4c4;
}